<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content padding="" >
  <ion-grid >
    <div>
      <div text-center class="text-white">
      <h4>Sign In</h4>
      <p>Please Sign In to continue</p>
    </div>
      <ion-row>
        <ion-col>
          <ion-list>
            <form>
              <div class="item-container">
              <ion-item class="px-10">
                <ion-input type="email" placeholder="Email" clearInput></ion-input>
              </ion-item>
              <ion-item class="px-10">
                <ion-input type="password"  placeholder="Password" clearInput></ion-input>
              </ion-item>
            </div>
              <ion-row>
                <ion-col class="px-0">
                  <button type="submit" ion-button class="btn-gift" color="light" block>Sign in</button>
                  <!-- [disabled]="!user.valid" -->
                </ion-col>
              </ion-row>
            
            </form>
            <p text-center class="text-white">Forgot Password?
                <span><b>Reset Password</b></span>
              </p>
          </ion-list>
        </ion-col>
      </ion-row>
     
      <ion-row>
        <ion-col text-center class="px-0">
          <button ion-button class="social-icon social-facebook">
            <!-- <ion-icon name="logo-facebook"></ion-icon> -->
            <img src="../assets/imgs/fb_login.png" alt="">
          </button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col text-center class="text-white">

          <p>Don't have account?
            <span (click)="signUp()" ><b>Sign up now</b></span>
          </p>
          

        </ion-col>
      </ion-row>
    </div>
  </ion-grid>

</ion-content>