<ion-header no-border>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>My Profile</ion-title>
    <ion-buttons end (click)="gotoEditPage()">
        <button ion-button icon-only>
          <ion-icon name="create"></ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="user-info-container">
    <img class="avatar" src="http://demos.creative-tim.com/material-kit/assets/img/kit/faces/christian.jpg">
    <div class="mt-m-50">
      <h4>John Doe</h4>
      <p>New York, NY</p>
    </div>
  </div>
  <div class="profile-container">


    <ion-row class="mt-40">
      <ion-col class="px-0">
        <ion-card class="about-info">

          <ion-card-header>
            <h4>About</h4>
          </ion-card-header>

          <ion-card-content>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. </p>
            <hr>
            <div class="user-stats">
              <ion-row>
                <ion-col id="l1">
                  <h4>34</h4>
                  <p>Likes</p>
                </ion-col>
                <ion-col id="l2">
                  <h4>10</h4>
                  <p>Wins</p>
                </ion-col>
                <ion-col id="l3">
                  <h4>65</h4>
                  <p>Interests</p>
                </ion-col>
              </ion-row>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row class="mt-20">
      <ion-col class="px-0">
        <ion-card class="general-container">
          <ion-card-header>
            <h4>Basic Info</h4>
          </ion-card-header>
          <ion-card-content>

            <hr>
            <div class="user-info">
              <ion-item>
                <p>
                  <b>Age</b>
                </p>
                <p>24</p>
              </ion-item>
              <ion-item>
                <p>
                  <b>Email</b>
                </p>
                <p>johndoe@abc.com</p>
              </ion-item>
              <ion-item>
                <p>
                  <b>Contact No</b>
                </p>
                <p>+94 71 234 5678</p>
              </ion-item>
              <ion-item>
                <p>
                  <b>City</b>
                </p>
                <p>Colombo</p>
              </ion-item>
              <ion-item>
                <p>
                  <b>Country</b>
                </p>
                <p>Sri Lanka</p>
              </ion-item>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </div>

</ion-content>