page-profile {
    .profile-container{
        // margin-top: 5px;
        background: whitesmoke;
        width: 100%;
        text-align: center;
        // height: -webkit-fill-available;
        // min-height: 100%;
        
    }

    .avatar{
        width: 100px;
    border-radius: 100px;
    // transform: translate3d(0,-50%,0);
    box-shadow:0 5px 15px 3px rgba(0, 0, 0, .24), 0 8px 10px -5px rgba(0, 0, 0, .2)
    }

    .user-info-container{
        margin-top: 10px;
        text-align: center;
        color: white;
    }

    // .avatar{
    //     width: 100px;
    // border-radius: 100px;
    // transform: translate3d(0,-50%,0);
    // box-shadow:0 5px 15px -8px rgba(0, 0, 0, .24), 0 8px 10px -5px rgba(0, 0, 0, .2)
    // }

    .card{
        transform: translate3d(0,-20%,0);
        border-radius: 3px;

        p{
            margin-top: 4px;
            font-size: 1.2rem;
            font-weight: 300;
            color:#2e2e2e !important; 
        }

        .card-header{
            padding-bottom: 8px;
           
        }

        
    }
    
    .basic-info{
        color: #f9686f;
        margin-top: -50px;
    }

    .about-info h4{
        color:#f9686f;
        font-weight: 500;
    }

    .user-stats h4{
        color: black;
        font-weight: 700;
    }

    .user-stats{
        ion-col#l2:after {
            content: ' ';
            height: 25px;
            width: 1px;
            background: #f1f1f1;
            position: absolute;
            /* right: 3px; */
            /* top: 13px; */
            left: 0;
            top: 13px;
        }

        ion-col#l2:before {
            content: ' ';
            height: 25px;
            width: 1px;
            background: #f1f1f1;
            position: absolute;
            right: 3px;
            top: 13px;
        }
    }

    .general-container{
       .user-info{
           .item{
            margin-top: -10px;
           }
       }
    }

    
}