<!--
  Generated template for the OtpPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content padding>

  <ion-grid>
    <div text-center class="text-white">
      <h4>Verify Mobile Number</h4>
      <p>OTP has been sent to your mobile number. Please enter it below</p>
    </div>
    <ion-list>

      <div class="item-container">
        <ion-item class="px-10">
          <ion-input type="number" clearInput placeholder="OTP"></ion-input>
        </ion-item>
      </div>
      <ion-row>
          <ion-col class="px-0">
            <button type="submit" ion-button class="btn-gift" color="light" block>Verify</button>
          </ion-col>
        </ion-row>
    </ion-list>
    
    <p text-center class="text-white">Didn't receive Verification Code?
      <span>
        <b>Resend</b>
      </span>
    </p>
  </ion-grid>



</ion-content>