<!--
  Generated template for the HomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

  <ion-navbar>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>home</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding="">
    <div class="entry-no-back" [ngClass]="clStatus ? '' : 'show-no' ">
        <h2 class="entry-no">5</h2>
      </div>

      
    <ion-slides let slides pager="true" paginationType="bullets" centeredSlides="true" spaceBetween="25" (ionSlideDidChange)="slideChanged()" (ionSlideReachEnd) = "endReached()" >

        <ion-slide width="10px" *ngFor="let item of cards" [ngClass]="clStatus ? 'element-animation' : '' ">
          <img src="https://t04.deviantart.net/92tU9m438acFPI5-atZUcpBWtgc=/300x200/filters:fixed_height(100,100):origin()/pre04/d404/th/pre/f/2011/248/e/e/little_merry_go_round_by_welcomehomejane-d48xrmp.jpg" class="slide-image"/>
          <h2 class="slide-title">
            Pick the <b>Gift {{ item }}</b>
          </h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur asperiores id possimus nulla corrupti quasi alias facilis numquam. Debitis est ratione totam explicabo officia quae distinctio. Reiciendis quam nostrum at.
            </p>
          <!-- <button ion-fab (click)="voteUp(i)">{{ i }}</button> -->
          <ion-row>
              <ion-col style="position:absolute;
              bottom: 0px;">
                <button ion-button outline small center text-center class="btn-gift-outline">
                  <div>View More</div>
                </button>
              </ion-col>
            </ion-row>
          
        </ion-slide>
    
      </ion-slides>
      
      <ion-fab bottom center>
        <button ion-fab (click)="voteUp(currentIndex)" class="gift-button" [ngClass]="btnStatus ? 'btn-animation' : '' "> <ion-icon name="basket"></ion-icon></button>
      </ion-fab>
</ion-content>
