page-home {

    
    .scroll-content {
        // font-size: 1.3rem !important;
        // font-weight: 200;
        overflow: hidden;
    }

    p{
        font-size: 1.2rem;
        font-weight: 300;
        color:#e2464f !important; 
    }

    h2{
        font-size: 1.9rem;
        font-weight: 500;
    }

    .swiper-slide{
        color: #f9686f;
    }

    .swiper-slide{
        background: white;
        border-radius: 3px;
        display: block !important;
        box-shadow: 0px 5px 20px 5px #bb252d;
    }

    .slide-image{
        width: 100%;
        height: 150%;
        max-height: 50% !important;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
    }

    .slide-title, .slide-zoom p{
        margin-right: 8px;
        margin-left: 8px;
    }

    .show-no{
		display: none;
    }
    
    ion-slides {
        height: 70vh;
     }

     .swiper-container{
         overflow: visible !important;
     }

     div.swiper-pagination {
        position: absolute;
        top: -20px;
     }

     .swiper-wrapper{
        padding-top: 10px;
     }

     .swiper-pagination-bullet {
        border-radius: 3px;
        width: 10px;
        height: 3px;
    }
    .swiper-pagination-bullet-active {
        background: #fff;
       
    }
    

    .element-animation{
        animation: card-animation 580ms ease;

        // animation-delay: 2s;
    
        animation-fill-mode: forwards;
	}

	@keyframes card-animation {

        0% {
    
            -webkit-transform: translate(0px, 0px) scale(1.00);
    
            opacity: 1;
    
        }
    
        60% {
    
            -webkit-transform: translate(0px, 0px) scale(0.6);
    
            opacity: 1
    
        }
    
        100% {
    
            -webkit-transform: translate(0px, 250px) scale(0.05);
    
            opacity: 0;
    
        }
    
    }

    .btn-animation{
        animation: button 1000ms ease;

    // animation-fill-mode: forwards;

    // animation-delay: 500ms;
    }
    @keyframes button {

        0% {
    
            -webkit-transform: scaleX(1.00) scaleY(1.00);
    
        }
    
        10% {
    
            -webkit-transform: scaleX(1.20) scaleY(1.20);
    
        }
    
        20% {
    
            -webkit-transform: scaleX(1.00) scaleY(1.00);
    
        }
    
        100% {
    
            -webkit-transform: scaleX(1.00) scaleY(1.00);
    
        }
    
    }
    
}
