<!--
  Generated template for the EntryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>My Basket</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
<div class="grid-full">
  <ion-row>
    <ion-col col-6 *ngFor="let item of [1,2,3,4,5,6,7,8,9,10]">
        <ion-card>
            
          <ion-card-header class="text-giftin">
            The Quick brown fox jumps
            <p><small>by Company</small></p>
          </ion-card-header>
            <img class="card-image" src="https://t04.deviantart.net/92tU9m438acFPI5-atZUcpBWtgc=/300x200/filters:fixed_height(100,100):origin()/pre04/d404/th/pre/f/2011/248/e/e/little_merry_go_round_by_welcomehomejane-d48xrmp.jpg"/>
            <ion-card-content>
                <p class="dflex-ai-center">
                  <span style="width:50%;">
                      <ion-icon name="heart-outline" class=""></ion-icon>
                      <span class="ml-5"> 324 </span>
                  </span>
                  <span  style="width:50%;">
                    
                    <!-- <ion-icon name="heart-outline" class=""></ion-icon> -->
                    <span class="ml-5"> 67 </span>
                  </span>
                     
                </p>
            </ion-card-content>
          </ion-card>
    </ion-col>
  </ion-row>
</div>
</ion-content>
