// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

.list-md .item-input.item-input-has-focus:last-child, .list-md .item-input.input-has-focus:last-child .item-inner{
    border: none;
    box-shadow: none;
    border-bottom: 1px solid #488aff;
}

.content{
    //f9686f
    background: #fe5393; /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #fe5393, #f9686f); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #fe5393, #f9686f); 

    //  background: -webkit-linear-gradient(to bottom, #f9686f, #f9686f); /* Chrome 10-25, Safari 5.1-6 */
    // background: linear-gradient(to bottom, #f9686f, #f9686f); 
    

    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
}

.input,.button{
    font-size: 12px;
    
}

.px-0{
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.px-10{
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.btn-gift{
    background:white;
    color:#f9686f;
    box-shadow: 0px 2px 4px 1px rgb(187, 37, 45);
    border-radius: 2px;
   
    font-weight: 500;
    text-transform: uppercase;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 3.4em;
}
.btn-gift-outline{
    color: #f9686f;
    border-color: #f9686f;
}

.btn-gift-outline:active{
    background-color: #f1a1a7;
    border-color: #f1a1a7;
    color: white;
}

.btn-gift:active{
    background-color: #f1a1a7;
    color: white;
}

.item-container{
    box-shadow: 0px 1px 5px #bb252d;
    margin-top: 20px;
}

.text-white{
    color: white;
}
.text-black{
    color: black;
}

.text-giftin{
    color:#f9686f !important;
}

.text-16{
    font-size: 16px;
}

.text-25{
    font-size: 25px;
}
.text-elepsis{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.dflex-ai-center{
    display: flex;
    align-items: center;
}
//margins 

.ml-5{
    margin-left: 5px;
}
.mt-m-20{
    margin-top: -20px;
}

.mt-m-50{
margin-top: -50px;
}

.mt-m-10{
    margin-top: -10px;
}

.mt-20{
    margin-top: 20px;
}

.mt-10{
    margin-top: 10px;
}
.mt-40{
    margin-top: 40px;
}

.mt-10{
    margin-top: 10px;
}

.gift-button{
    background: white;
}

.gift-button:active{
    background-color: #f1a1a7;
    color: white;
}

.gift-button ion-icon{
    color: #fe5492;
}

div.has-error{
    background: #ffffff !important;
    padding: 10px !important;
    /* border-radius: 0 !important; */
    position: absolute;
    display: inline-block !important;
    -webkit-box-shadow: 1px 1px 1px #aaaaaa;
    box-shadow: 1px 1px 1px #aaaaaa;
    margin-top: 25px;
    margin-right: 15px;
    z-index: 1;
    color:red;
    /* top: 0; */
    transform: translateY(-50px);
    font-size: 11px;
    right: 5px;
    border-radius: 3px;
    box-shadow: 0 1px 11px 2px rgba(47,46,44,0.40);
}

div.has-error:after{
    // content: ''; 
    // width: 0; 
    // height: 0; 
    // border-left: 10px solid transparent;
    // border-right: 10px solid transparent;
    // border-bottom: 10px solid #c51244;
    // position: absolute; 
    // top: -10px; 

    content: '';
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 4px solid transparent;
    border-top: 6px solid #fff;
    position: absolute;
    top: 98%;
    position: absolute;
    right: 0;

}