<!--
  Generated template for the FullViewPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

  <ion-navbar>
    <!-- <ion-title>fullView</ion-title> -->
  </ion-navbar>

</ion-header>


<ion-content class="full-view-content">
  <div class="image-container">
    <img src="https://www.lifeloveandsugar.com/wp-content/uploads/2014/04/Perfect_Moist_Fluffy_Vanilla_Cupcakes.jpg">
  </div>

  <div class="meta-container px-10">
    <div class="grab-button-container">
        <button ion-fab class="grab-button gift-button"><ion-icon name="basket"></ion-icon></button>
    </div>
    <h3 class="text-giftin">The Quick Brown fox jumps</h3>
    <p>Posted by
      <b>
        <span class="text-giftin">Company</span>
      </b> on
      <span class="text-giftin">February 11th</span>
    </p>
    <p class="dflex-ai-center text-giftin">
      <ion-icon name="heart-outline" class="text-25 "></ion-icon>
      <span class="ml-5"> 324 </span>
    </p>
    <p class="text-giftin">
      <strong>Your entry No: </strong> <span> 45 </span>
    </p>
  </div>
  <div class="info-container px-10">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus quos corrupti alias laudantium, repellendus voluptatem
      ut fugiat. Impedit tempora quas adipisci eum soluta molestias. Quos quo facilis blanditiis voluptatem? Eveniet.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus quos corrupti alias laudantium, repellendus voluptatem
      ut fugiat. Impedit tempora quas adipisci eum soluta molestias. Quos quo facilis blanditiis voluptatem? Eveniet.</p>
<hr>
<div class="link-container">
    <button clear color="light" ion-fab  class="link-icons" ><i class="fa fa-globe"></i></button>
    <button clear color="light" ion-fab  class="link-icons" ><i class="fa fa-facebook-f"></i></button>
    <button clear color="light" ion-fab  class="link-icons" ><i class="fa fa-twitter"></i></button>
    <button clear color="light" ion-fab  class="link-icons" ><i class="fa fa-youtube"></i></button>
    <button clear color="light" ion-fab  class="link-icons" ><i class="fa fa-instagram"></i></button>
</div>
  </div>

</ion-content>