<!--
  Generated template for the CompViewPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>compView</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="comp-view-container">
  <div class="content-container">


    <div class="image-container">
      <img src="https://www.lifeloveandsugar.com/wp-content/uploads/2014/04/Perfect_Moist_Fluffy_Vanilla_Cupcakes.jpg">
    </div>

    <div class="meta-container px-10">

      <h3 class="text-giftin">The Quick Brown fox jumps</h3>
      <p>Posted by
        <b>
          <span class="text-giftin">Company</span>
        </b> on
        <span class="text-giftin">February 11th</span>
      </p>
      <p class="dflex-ai-center text-giftin">
        <ion-icon name="heart-outline" class="text-25 "></ion-icon>
        <span class="ml-5"> 324 </span>
      </p>
      <p class="text-giftin">
          <strong>Your entry No: </strong> <span> 45 </span>
        </p>
    </div>
    <div class="info-container px-10">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus quos corrupti alias laudantium, repellendus voluptatem
        ut fugiat. Impedit tempora quas adipisci eum soluta molestias. Quos quo facilis blanditiis voluptatem? Eveniet.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus quos corrupti alias laudantium, repellendus voluptatem
        ut fugiat. Impedit tempora quas adipisci eum soluta molestias. Quos quo facilis blanditiis voluptatem? Eveniet.</p>
      <hr>
      <div class="link-container">
        <button clear color="light" ion-fab class="link-icons">
          <i class="fa fa-globe"></i>
        </button>
        <button clear color="light" ion-fab class="link-icons">
          <i class="fa fa-facebook-f"></i>
        </button>
        <button clear color="light" ion-fab class="link-icons">
          <i class="fa fa-twitter"></i>
        </button>
        <button clear color="light" ion-fab class="link-icons">
          <i class="fa fa-youtube"></i>
        </button>
        <button clear color="light" ion-fab class="link-icons">
          <i class="fa fa-instagram"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="draw-container px-0 mt-20">
    <h6 class="px-10 text-16 text-giftin"> Draw Details</h6>
    <ion-card>
      <ion-card-content>
        <div *ngFor="let lot of [1,2,3]" class="">
          <p>Lottery {{lot}}</p>
          <p class="lotteries text-giftin">
            <span *ngFor="let num of [31,22,3,45,6,43,76]" class="lot-numbers">{{num}}</span>
          </p>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
  <div class="winner-container px-0 mt-20">
    <h6 class="px-10 text-16 text-giftin"> Winners</h6>
    <ion-card>
      <ion-card-content>
        <ion-slides pager="false" autoplay="1000" slidesPerView="4" pager="true">
          <ion-slide  *ngFor="let winner of [1,2,3,4,5,6,7,5,3,2,2,2]">
            <div class="winners">
              <ion-avatar>
                <img src="https://png.icons8.com/color/1600/circled-user-female-skin-type-1-2.png">
              </ion-avatar>
              <p class="text-elepsis">name {{winner}}</p>
            </div>

          </ion-slide>

        </ion-slides>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>