page-comp-view {
  
    .scroll-content{
        background: #f5f5f5 !important;
    }

    // .content-container{
    //     background: white;
    // }

    .image-container img{
        width: 100%;
    }

   .info-container{
        box-shadow: 0px 2px 3px 0px rgba(0,0,0,.32);
        padding-bottom: 10px;
    
   }

   .link-container button{
        width: 40px;
        height: 40px;
    
   }
   
   .link-container{
       display: flex;
       justify-content: center;
       
    .link-icons{
        font-size: 2rem;
        margin: 5px 10px;
        color: rgb(255, 255, 255);
        background: #8a8a8a;
        // box-shadow: none;
    }
   }
   .link-container:first-child{
       margin-left: 0px;

   }

   .link-container:last-child{
    margin-right: 0px;
    
    }

.lotteries{
    display: flex;
    justify-content: center;
    background:whitesmoke;
    border-radius: 3px;

 .lot-numbers{
     font-size: 1.6rem;
     margin: 5px 10px;
     font-weight: 700;
 }
}

.draw-container{
    ion-card{
        width: 100% !important;
        padding: 0px !important;
        margin-left: 0px !important;
    }
}

.winner-container{
    .winners{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    ion-card{
        // height: 200px;
        width: 100% !important;
        padding: 0px !important;
        margin-left: 0px !important;

        ion-avatar{
            width: 50px;
            height: 50px;
        }

        ion-card-content{
            height: 170px;
            /* padding-bottom: 20px; */
            margin-bottom: -20px;
        }
    }

    ion-slides{
        margin-top: -20px;
    }

}


}
