<!--
  Generated template for the WinningsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>winnings</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list no-lines class="px-10">
    <ion-item class="winning-items" *ngFor="let item of [1,2,3,4,5,6,7,8,9,9,8,7,6,5,4]">
      <ion-thumbnail item-start>
        <img src="https://t04.deviantart.net/92tU9m438acFPI5-atZUcpBWtgc=/300x200/filters:fixed_height(100,100):origin()/pre04/d404/th/pre/f/2011/248/e/e/little_merry_go_round_by_welcomehomejane-d48xrmp.jpg">
      </ion-thumbnail>
      <div class="text-giftin">
          <h4 class="text-16 text-elepsis" >My Neighbor Totoro</h4>
          <p><small>by Company item</small></p>
      </div>
      
      <button ion-button outline item-end class="btn-gift-outline">View</button>
    </ion-item>
  </ion-list>

</ion-content>