<!--
  Generated template for the EditUserPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>
    <!-- <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button> -->
  <ion-navbar>
    <ion-title>Edit My Info</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="edit-user-content">
    <div class="user-info-container">
      <div class="img-container">
          <img class="avatar" src="http://demos.creative-tim.com/material-kit/assets/img/kit/faces/christian.jpg">
          <button ion-fab color="light" class="img-upload-btn-fab" (click)="presentActionSheet()"><ion-icon name="camera"></ion-icon></button>
          <!-- <button class="" ion-button color="light" icon-only>
              <ion-icon name="camera"></ion-icon>
            </button> -->
      </div>
      </div>

  <div class="profile-container">

  <ion-row class="mt-40">
      <ion-col class="px-0">
        <ion-card class="about-info">
          <ion-card-content>
              <div class="edit-form-container">
                  <ion-item class="item-divider-header">
                      <h5>Personal information</h5>
                      <button ion-button  outline item-end class="btn-gift-outline">save</button>
                  </ion-item>
                  <hr class="mt-m-10">
                  <div class="form-container">
                      <ion-list >
                          <form >
                            <ion-row>
                              <ion-col >
                                <ion-item class="px-10">
                                  <ion-label stacked>First Name</ion-label>
                                  <ion-input type="text"></ion-input>
                                </ion-item>
                                </ion-col>
                                <ion-col>
                                <ion-item class="px-10">
                                  <ion-label stacked>Last Name</ion-label>
                                  <ion-input type="text"></ion-input>
                                </ion-item>
                              </ion-col>
                            </ion-row>
                            <ion-row>
                              <ion-col>
                                <ion-item class="px-10">
                                  <ion-label stacked>Email</ion-label>
                                  <ion-input type="text"></ion-input>
                                </ion-item>
                                <ion-item class="px-10">
                                  <ion-label stacked>Contact No</ion-label>
                                  <ion-input type="number"></ion-input>
                                </ion-item>
                                <ion-item class="px-10">
                                    <ion-label stacked>City</ion-label>
                                    <ion-input type="text"></ion-input>
                                  </ion-item>
                                  <ion-item class="px-10">
                                    <ion-label stacked>Country</ion-label>
                                    <ion-input type="text"></ion-input>
                                  </ion-item>
                              </ion-col>
                    
                            </ion-row>
                    
                          </form>
                    
                        </ion-list>
                        
                  </div>  
                  
                  <ion-item class="item-divider-header">
                  <h5>Reset Password</h5>
                      <button ion-button  outline item-end class="btn-gift-outline">Submit</button>
                  </ion-item>
                  <hr class="mt-m-10">
                  <form>
                      <ion-row>
                          <ion-item class="px-10">
                            <ion-label stacked>Old password</ion-label>
                            <ion-input type="text"></ion-input>
                          </ion-item>
                          <ion-item class="px-10">
                            <ion-label stacked>New Password</ion-label>
                            <ion-input type="text"></ion-input>
                          </ion-item>
                          <ion-item class="px-10">
                              <ion-label stacked>Retype new Password</ion-label>
                              <ion-input type="text"></ion-input>
                            </ion-item>
                      </ion-row>
                      
              
                    </form>
                </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>


  </div>


</ion-content>