<!--
  Generated template for the SignupPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->



<ion-content padding>
    <ion-grid >
        <div>
          <div text-center class="text-white">
          <h4>Sign Up</h4>
          <p>Please Sign Up to continue</p>
        </div>
          <ion-row>
            <ion-col>
              <ion-list>
                <form>
                  <div class="item-container">
                     
                      <div class="has-error" >This field is required and should be valid email</div>
                      <ion-item class="px-10">
                      
                    <ion-input type="email" placeholder="Email" clearInput></ion-input>
                  </ion-item>
                  <!-- <div class="has-error" >This field is required and should be valid email</div> -->
                  <ion-item class="px-10">
                      <ion-input required type="number" placeholder="Contact Number" clearInput></ion-input>
                    </ion-item>
                  <ion-item class="px-10">
                    <ion-input type="password"  placeholder="Password" clearInput></ion-input>
                  </ion-item>
                </div>
                  <ion-row>
                    <ion-col class="px-0">
                      <button type="submit" ion-button class="btn-gift" color="light" block>Sign Up</button>
                      <!-- [disabled]="!user.valid" -->
                    </ion-col>
                  </ion-row>
                </form>
              </ion-list>
            </ion-col>
          </ion-row>
         
          <ion-row>
            <ion-col text-center class="px-0">
              <button ion-button class="social-icon social-facebook">
                <!-- <ion-icon name="logo-facebook"></ion-icon> -->
                <img src="../assets/imgs/fb_login.png" alt="">
              </button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col text-center class="text-white">
    
              <p>Already have account?
                <span (click)="signIn()"><b>Sign in</b></span>
              </p>
              
    
            </ion-col>
          </ion-row>
        </div>
      </ion-grid>
</ion-content>
