page-signup {
    .scroll-content{
        display: flex;
        align-items: center;
        justify-content: center;
    }



    .item:nth-child(1){
        border-top-right-radius: 3px;
        border-top-left-radius: 3px;
    }
    .item:nth-child(3){
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
    }

    .item:nth-child(3) .item-inner{
        border: none;
    }
    .social-icon{
        padding: 0px;
        // height: .9em;
        font-size: 3em;
        box-shadow: 0px 2px 4px #bb252d;
    }
    .social-facebook{
        color:#fff !important;
        background-color: #3b5998;
    }
}
